<footer class="sitewide-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>About us</h4>
        <p>The Arts in Health team at Sheffield Teaching Hospitals run a weekly programme of arts &amp; crafts sessions delivered by a dedicated team of arts activity volunteers, an arts coordinator and arts activity project leaders.</p>
      </div>

      <div class="col-md-3">
        <h4>Heading</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Ward Activities</a></li>
          <li><a href="#">Environmental Projects</a></li>
          <li><a href="#">Artists &amp; Musicians</a></li>
          <li><a href="#">Get involved</a></li>
          <li><a href="#">Support us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">News</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>Contact us</h4>
        <p>If you have any questions about arts around Sheffield Teaching Hospitals you can get in touch with us via: ...</p>
      </div>

      <div class="col-md-3">
        <h4>Support us</h4>
        <p>You can help support us by ...</p>
      </div>
    </div>

  </div>
</footer>