<nav class="navbar navbar-default navbar-topbar hidden-xs">
  <div class="container">
    <div class="row">
    <div id="topbar" class="">
      <ul class="nav navbar-nav navbar-topbar-nav">
        <li><%= link_to "Information for staff", "/page.html" %></li>
        <li><%= link_to "Donate", "/page.html" %></li>
        <li><%= link_to "Contact us", "/page.html" %></li>
      </ul>
    </div>
      </div>
  </div>
</nav>