---
title: About
---

  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <header>
            <h1>News</h1>
          </header>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">News</li>
      </ol>
    </div>
    
    <div class="col-md-7">
      <div class="feed-container">
        <ol class="feed list-unstyled">
          <li class="feed-item feed-item-news">
            <h3>News feed item title</h3>

            <div class="row">
              <div class="col-md-3">
                img
              </div>
              <div class="col-md-9">
                body
              </div>
            </div>

          </li>
        </ol>
      </div>
    </div>
    
    <div class="col-md-4 col-md-offset-1">
      <aside class="sidebar"> 
        <h3>Recent news</h3>
        <ol class="list list-unstyled">
          <li><a href="#">Volunteering opportunity</a></li>
          <li><a href="#">New website released</a></li>
        </ol>

        <h3>Support us</h3>
        <p>This is where the things live</p>
      </aside>
    </div>
  </div>
</div>